.search-form {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: center;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: indigo;
}

.form-thumb {
  position: relative;
  display: flex;

  & > input {
    height: 40px;
    width: 450px;
    padding-left: 10px;
    border: transparent;
    border-radius: 12px;
  }

  & > button {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border: transparent;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    cursor: pointer;

    &:hover {
      fill: #fff;
      background-color: #000;
    }
  }
}
